In [2]:
ss = "Sammy Shark"
print(ss.upper())

SAMMY SHARK

In [3]:
print(ss.lower())

sammy shark

In [4]:
print(ss.title())

Sammy Shark

In [5]:
a = ss.isalnum()
print(a)

False

In [6]:
a = ss.isalpha()
print(a)

False

In [7]:
a = ss.istitle()
print(a)

True

In [10]:
s1 = "Bhola Nath Yadav"
a = s1.isupper()
b = s1.isalnum()
c = s1.isnumeric()
d = s1.isalpha()
e = s1.islower()
f = s1.isspace()
g = s1.istitle()
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

False
False
False
False
False
False
True

In [11]:
s2 = "Bhola"
h = s2.isalpha()
print(h)

True

In [12]:
print(" ".join(s1))

B h o l a   N a t h   Y a d a v

In [16]:
print("".join(reversed(s1)))

vadaY htaN alohB

Create comma separated string from a list of strings:

In [17]:
print(",".join(["sharks", "crustaceans", "planktons"]))

sharks,crustaceans,planktons

If we want to add a comma and a white space in between then we can simply add a whitespace after comma like done below:

In [18]:
print(", ".join(["sharks", "crustaceans", "planktons"]))

sharks, crustaceans, planktons

We also have functions to split the string.

In [19]:
print(s1.split())

['Bhola', 'Nath', 'Yadav']

If we want to split by character 'a' then we can run the following:

In [20]:
print(s1.split('a'))

['Bhol', ' N', 'th Y', 'd', 'v']

replace() method can take an original string and return an updated string with some replacement.

In [22]:
s3 = "It is raining outside"
print(s3.replace("is", "was"))

It was raining outside

It's done for today. Will continue from here next day.